@inject NavigationManager NavigationManager


    <!-- Navbar Custom Menu -->
    <div class="navbar-custom-menu">

        <div class="container-fluid">
            <div id="navigation">
                <!-- Navigation Menu-->
            <ul class="navigation-menu list-unstyled">

                <li class="has-submenu">
                    <a href="index.html">
                        <i class="mdi mdi-account-settings"></i>
                        Back Office Management
                    </a>
                    <ul class="submenu">
                        <li><a href="/user-management">User Management</a></li>
                        <li><a href="TransactionSent_Approval.html">Transaction sent for approval</a></li>
                        <li><a href="TransactionPending_Approval.html">Transaction pending for approval</a></li>
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="#"><i class="mdi mdi-laptop"></i>Channel Management</a>
                    <ul class="submenu">
                        <li><a href="ChannelManagament.html">Submenu 1</a></li>
                        <li><a href="#">Submenu 2</a></li>
                        <li><a href="#">Submenu 3</a></li>
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="#"><i class="mdi mdi-account-multiple-outline"></i>Customer Management</a>
                    <ul class="submenu">
                        <li><a href="#">Submenu 1</a></li>
                        <li><a href="#">Submenu 2</a></li>
                        <li><a href="#">Submenu 3</a></li>
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="#"><i class="mdi mdi-file-document"></i>Reports</a>
                    <ul class="submenu">
                        <li><a href="#">Submenu 1</a></li>
                        <li><a href="#">Submenu 2</a></li>
                        <li><a href="#">Submenu 3</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#"><i class="mdi mdi-bullhorn"></i>Marketing Management</a>
                    <ul class="submenu">
                        <li><a href="#">Submenu 1</a></li>
                        <li><a href="#">Submenu 2</a></li>
                        <li><a href="#">Submenu 3</a></li>
                    </ul>
                </li>
            </ul>                <!-- End navigation menu -->
            </div> <!-- end navigation -->
        </div> <!-- end container-fluid -->
    </div>
    <!-- end left-sidenav-->
