@page "/"
@using Blazored.LocalStorage
@layout MainLayout
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@* change *@
@* @using Blazored.LocalStorage
@inject ILocalStorageService LocalStorage *@
@* change *@

@* <div class="container-fluid"> *@
    <div class="row">
        <div class="col-sm-12 col-md-9 col-xxl-9">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body border-bottom bg-soft-dark">
                            <div class="fro_profile">
                                <div class="row">
                                    <div class="col-lg-4 mb-3 mb-lg-0">
                                        <div class="fro_profile-main">
                                            <!-- <div class="fro_profile-main-pic">
                                                <img src="assets/images/users/user-4.jpg" alt="" class="rounded-circle">
                                                <span class="fro-profile_main-pic-change">
                                                    <i class="fas fa-camera"></i>
                                                </span>
                                            </div> -->
                                            <div class="fro_profile_user-detail mt-4">
                                                <h4 class="fro_user-name text-primary">Good Morning,</h4>
                                            <h5 class="fro_user-name text-primary">Welcome, @FirstName  @LastName</h5>
                                                <a href="#" class="mb-0 fro_user-name-post text-primary">Go to ACCE Business Banking</a>
                                            </div>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-lg-8 mb-3 mb-lg-0">
                                        <div class="files mt-3">

                                            <ul class="nav nav-pills file-category mb-0 justify-content-end" id="pills-tab" role="tablist">
                                                <li class="nav-item file-category-block">
                                                    <a class="nav-link file-category-folder bg-soft-primary" id="pills-statements-documents-tab" data-toggle="pill" href="#pills-statements-documents" role="tab" aria-controls="pills-statements-documents" aria-selected="true">
                                                        <i class="mdi mdi-file-document-outline"></i>

                                                    </a>
                                                    <p class="mb-0 mt-1">Statements/ <br />Documents</p>
                                                </li>
                                                <li class="nav-item file-category-block">
                                                    <a class="nav-link file-category-folder bg-soft-primary" id="pills-messages-alerts-tab" data-toggle="pill" href="#pills-messages-alerts" role="tab" aria-controls="pills-messages-alerts" aria-selected="false">
                                                        <i class="mdi mdi-email-outline"></i>
                                                    </a>
                                                    <p class="mb-0 mt-1">Messages/ <br />Alerts</p>
                                                </li>
                                                <li class="nav-item file-category-block">
                                                    <a class="nav-link file-category-folder bg-soft-primary" id="pills-ebills-tab" data-toggle="pill" href="#pills-ebills" role="tab" aria-controls="pills-ebills" aria-selected="false">
                                                        <i class="mdi mdi-receipt"></i>
                                                    </a>
                                                    <p class="mb-0 mt-1">eBills</p>
                                                </li>
                                                <li class="nav-item file-category-block">
                                                    <a class="nav-link file-category-folder bg-soft-primary" id="pills-offers-for-you-tab-1" data-toggle="pill" href="#pills-offers-for-you" role="tab" aria-controls="pills-offers-for-you" aria-selected="true">
                                                        <i class="mdi mdi-wallet-giftcard"></i>

                                                    </a>
                                                    <p class="mb-0 mt-1">Offers <br />For You</p>
                                                </li>
                                                <li class="nav-item file-category-block">
                                                    <a class="nav-link file-category-folder bg-soft-primary" id="pills-beyond-bankings-tab-2" data-toggle="pill" href="#pills-beyond-bankings" role="tab" aria-controls="pills-beyond-bankings" aria-selected="false">
                                                        <i class="mdi mdi-rocket"></i>
                                                    </a>
                                                    <p class="mb-0 mt-1">Beyond <br />Banking</p>
                                                </li>
                                                <li class="nav-item file-category-block">
                                                    <a class="nav-link file-category-folder bg-soft-primary" id="pills-print-tab" data-toggle="pill" href="#pills-print" role="tab" aria-controls="pills-print" aria-selected="false">
                                                        <i class="mdi mdi-printer"></i>
                                                    </a>
                                                    <p class="mb-0 mt-1">Print</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!--end col-->

                                </div><!--end row-->
                            </div><!--end f_profile-->
                        </div><!--end card-body-->


                    </div><!--end card-->
                </div><!--end col-->
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="ribbon-1">
                        <div class="ribbon-box">
                            <h3><div class="ribbon ribbon-mark bg-primary">Bank Accounts Summary</div></h3>

                            <div class="">
                                <div class="bank-header">
                                    <span>Bank Accounts</span>
                                    <span class="total-balance">Total: <strong>$1,646.00 CAD &nbsp; $3,987.06 USD</strong></span>
                                </div>

                                <div class="bank-account">
                                    <div class="bank-info">
                                        <span class="bank-name">ACCE Daily Banking &rsaquo;</span>
                                        <span class="bank-type">Chequing 1234-54323-736B</span>
                                    </div>
                                    <span class="bank-balance">$1,063.49 CAD</span>
                                    <span class="bank-options mdi mdi-dots-horizontal"></span>
                                </div>

                                <div class="bank-account">
                                    <div class="bank-info">
                                        <span class="bank-name">ACCE U.S. High Interest eSavings &rsaquo;</span>
                                        <span class="bank-type">Savings 1234-54323-7368</span>
                                    </div>
                                    <span class="bank-balance">$3,987.06 USD</span>
                                    <span class="bank-options mdi mdi-dots-horizontal"></span>
                                </div>

                                <div class="bank-account">
                                    <div class="bank-info">
                                        <span class="bank-name">ACCE High Interest eSavings &rsaquo;</span>
                                        <span class="bank-type">Savings 1234-54323-7368</span>
                                    </div>
                                    <span class="bank-balance">$582.51 CAD</span>
                                    <span class="bank-options mdi mdi-dots-horizontal"></span>
                                </div>
                            </div>

                            <div class="new-account">
                                <i class="mdi mdi-plus-circle-outline"></i> Open New Account
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="ribbon-1">
                        <div class="ribbon-box">
                            <h3><div class="ribbon ribbon-mark bg-danger">Credit Card Summary</div></h3>

                            <div class="credit-container">
                                <div class="credit-header">
                                    <span>Credit Cards</span>
                                    <span class="total-credit">Total: <strong>$3,605.43 CAD</strong></span>
                                </div>

                                <div class="credit-item">
                                    <div class="credit-info">
                                        <span class="credit-name">ACCE Rewards+ Visa &rsaquo;</span>
                                        <span class="credit-type">Visa 1234 **** **** 7368</span>
                                    </div>
                                    <div class="credit-right">
                                        <span class="credit-balance">$983.63 CAD</span>
                                        <span class="credit-options mdi mdi-dots-horizontal"></span>
                                    </div>
                                </div>

                                <div class="credit-item">
                                    <div class="credit-info">
                                        <span class="credit-name">ACCE Cash Back Preferred World Elite MasterCard &rsaquo;</span>
                                        <span class="credit-type">MasterCard 5678 **** **** 4593</span>
                                    </div>
                                    <div class="credit-right">
                                        <span class="credit-balance">$2,627.80 CAD</span>
                                        <span class="credit-options mdi mdi-dots-horizontal"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="apply-credit">
                                <div class="row">
                                    <div class="col-md-9">
                                        <i class="mdi mdi-plus-circle-outline"></i> Apply for a Credit Card
                                    </div>
                                    <div class="col-md-3">
                                        <div class="acce-rewards">
                                            <i class="mdi mdi-wallet-giftcard"></i> ACCE Rewards
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- "RBC Rewards" now aligned to the right -->
                            <!-- Offer section with "View Offer" properly aligned to the right -->
                            <div class="offer-box">
                                <div class="row">
                                    <div class="col-md-9">
                                        <span class="offer-title">Get 30,000 points on a new ACCE Avion Visa</span>
                                        <p class="offer-text">When you open your first ACCE Avion Visa Credit Card Account by July 31, 2019.</p>
                                    </div>

                                    <div class="col-md-3">
                                        <a href="#" class="view-offer">View Offer</a>
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="ribbon-1">
                        <div class="ribbon-box">
                            <h3><div class="ribbon ribbon-mark bg-info">Investment Summary</div></h3>

                            <div class="investments-container">
                                <div class="investments-header">
                                    <span>Investments</span>
                                    <span class="total-investments">Total: <strong>$51,275.45 CAD</strong></span>
                                </div>

                                <div class="investment-item">
                                    <div class="investment-info">
                                        <span class="investment-name">Direct Investing &rsaquo;</span>
                                        <span class="investment-type">Margin 4377843874</span>
                                    </div>
                                    <div class="investment-right">
                                        <span class="investment-balance">$48,971.12 CAD</span>
                                        <span class="investment-options mdi mdi-dots-horizontal"></span>
                                    </div>
                                </div>

                                <div class="investment-item">
                                    <div class="investment-info">
                                        <span class="investment-name">InvestEase &rsaquo;</span>
                                        <span class="investment-type">RRSP 3988473827</span>
                                    </div>
                                    <div class="investment-right">
                                        <span class="investment-balance">$2,304.33 CAD</span>
                                        <span class="investment-options mdi mdi-dots-horizontal"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="purchase-investment">
                                        <i class="mdi mdi-plus-circle-outline"></i> Purchase an Investment
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="myadvisor">
                                        <i class="mdi mdi-information-outline"></i> MyAdvisor: your custom financial picture
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="ribbon-1">
                        <div class="ribbon-box">
                            <h3><div class="ribbon ribbon-mark bg-dark">Mortgage Summary</div></h3>

                            <div class="mortgage-container">
                                <div class="mortgage-header">
                                    <span>Mortgage</span>
                                    <span class="total-mortgage">Total: <strong>$95,010.89 CAD</strong></span>
                                </div>

                                <div class="mortgage-info">
                                    <span class="mortgage-name">ACCE Homeline Plan &rsaquo;</span>
                                    <span class="mortgage-type">Mortgage 4567-1234-0000-0987</span>
                                </div>

                                <div class="credit-line">
                                    <div class="credit-line-info">
                                        <span class="credit-line-name">Credit Line 1234-4556-9102 &rsaquo;</span>
                                        <a href="#" class="credit-line-label">Primary</a>
                                    </div>
                                    <div class="credit-line-right">
                                        <span class="credit-line-balance">$55,560.00 CAD</span>
                                        <span class="credit-line-options mdi mdi-dots-horizontal"></span>
                                    </div>
                                </div>

                                <div class="credit-line">
                                    <div class="credit-line-info">
                                        <span class="credit-line-name">Credit Line 1234-5543-0389 &rsaquo;</span>
                                    </div>
                                    <div class="credit-line-right">
                                        <span class="credit-line-balance">$39,450.89 CAD</span>
                                        <span class="credit-line-options mdi mdi-dots-horizontal"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="start-mortgage">
                                        <i class="mdi mdi-plus-circle-outline"></i> Start a Mortgage pre-approval
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mortgage-links">
                                        <div class="mortgage-link">
                                            <i class="mdi mdi-home-outline"></i> How much is my home worth?
                                        </div>
                                        <div class="mortgage-link">
                                            <i class="mdi mdi-pencil-outline"></i> Home by ACCE: Your home tools
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>


            </div>
            <div class="row" style="display: none;">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade" id="pills-statements-documents" role="tabpanel" aria-labelledby="pills-statements-documents-tab">
                                    <h4 class="mt-0 header-title mb-3">Statements/ Documents</h4>
                                    <div class="row">
                                        <div class="col-lg-12">
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </div><!--end tab-pane-->

                                <div class="tab-pane fade show active" id="pills-messages-alerts" role="tabpanel" aria-labelledby="pills-messages-alerts-tab">
                                    <h4 class="mt-0 header-title mb-3">Messages/Alerts</h4>
                                    <div class="row">
                                        <div class="col-lg-12">
                                        </div><!--end col-->

                                    </div><!--end row-->
                                </div><!--end tab-pane-->

                                <div class="tab-pane fade" id="pills-ebills" role="tabpanel" aria-labelledby="pills-ebills-tab">
                                    <h4 class="mt-0 header-title mb-3">eBills</h4>
                                    <div class="row">
                                        <div class="col-lg-12">
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </div><!--end tab-pane-->

                                <div class="tab-pane fade" id="pills-offers-for-you" role="tabpanel" aria-labelledby="pills-offers-for-you-tab-1">
                                    <h4 class="mt-0 header-title mb-3">Offers For You</h4>
                                    <div class="row">
                                        <div class="col-lg-12">
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </div><!--end tab-pane-->


                                <div class="tab-pane fade" id="pills-beyond-bankings" role="tabpanel" aria-labelledby="pills-beyond-bankings-tab-2">
                                    <h4 class="mt-0 header-title mb-3">Beyond Banking</h4>
                                    <div class="row">
                                        <div class="col-lg-12">
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </div><!--end tab-pane-->

                                <div class="tab-pane fade" id="pills-print" role="tabpanel" aria-labelledby="pills-print-tab">
                                    <h4 class="mt-0 header-title mb-3">Print</h4>
                                    <div class="row">
                                        <div class="col-lg-12">
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </div><!--end tab-pane-->

                            </div><!--end tab-content-->
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!--end col-->
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-xxl-3">
            <div class="card">
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter your question here" aria-label="Enter your question here" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="button-addon2"><i class="mdi mdi-magnify"></i></button>
                        </div>
                    </div>
                </div><!--end card-body-->
            </div><!--end card-->

            <h4>Quick Payments & Tranfers</h4>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 align-self-center">
                            <form class="mb-0">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>From <small class="text-danger font-13">*</small></label>
                                            <select class="form-control">
                                                <option>No Saeed! = $0.00 USD</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>To <small class="text-danger font-13">*</small></label>
                                            <select class="form-control">
                                                <option>Select</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Amount <small class="text-danger font-13">*</small></label>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="input-daterange input-group" id="date-range">
                                                        <input type="text" name="amount" class="form-control col-md-8" placeholder="$0.00" id="amount" required="">
                                                        <select class="form-control">
                                                            <option>CAD</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="btn-toolbar sw-toolbar sw-toolbar-bottom">
                                            <button type="button" class="btn btn-primary btn-lg btn-block">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div><!--end col-->
                    </div><!--end row-->
                    <hr>
                    <div class="row text-center">
                        <div class="col-md-12 align-self-center">
                            <a href="#" class="text-primary"> <i class="mdi mdi-diamond"></i> Pay with ACCE Rewards Points</a>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end card-body-->
            </div><!--end card-->

            <div class="card">
                <div class="card-body profile-nav">
                    <h5 class="my-4">Transfers and Payments</h5>
                    <div class="nav flex-column nav-pills" id="profile-tab" aria-orientation="vertical">
                        <a class="nav-link" id="add-payee-tab" data-toggle="pill" href="#add-payee" aria-selected="true">Send an International Money Transfer</a>
                        <a class="nav-link" id="register-for-interac-e-transfer-autodeposit-tab" data-toggle="pill" href="#register-for-interac-e-transfer-autodeposit" aria-selected="false">Transfer Money Cross-Border</a>
                        <a class="nav-link d-flex justify-content-between align-items-center" id="add-interac-e-transfer-recipient-tab" data-toggle="pill" href="#add-interac-e-transfer-recipient" aria-selected="false">Purchase Foreign Cash</a>
                        <a class="nav-link mb-0" id="add-other-acce-royal-bank-customer-tab" data-toggle="pill" href="#add-other-acce-royal-bank-customer" aria-selected="false">Register for INTERAC e-Transfer AutoDeposit</a>
                        <a class="nav-link mb-0" id="nickname-payees-tab" data-toggle="pill" href="#nickname-payees" aria-selected="false">Manage Pre-Authorized Payments</a>
                        <a class="nav-link mb-0" href="acce-stop-payment-request.html" aria-selected="false">Stop a Cheque or Pre-Authorized Payment</a>
                        <a class="nav-link mb-0" id="nickname-payees-tab" data-toggle="pill" href="#nickname-payees" aria-selected="false">Daily Transaction Limits</a>
                    </div>
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
    </div>

@* </div><!-- container --> *@

@code {

    private string UserName = "";
    private string FirstName = "";
    private string LastName = "";

    protected override async Task OnInitializedAsync()
    {
        UserName = await LocalStorage.GetItemAsync<string>("user_name") ?? "";
        FirstName = await LocalStorage.GetItemAsync<string>("user_firstName") ?? "";
        LastName = await LocalStorage.GetItemAsync<string>("user_lastName") ?? "";
    }

    //change
    // protected override async Task OnInitializedAsync()
    // {
    //     var token = await LocalStorage.GetItemAsync<string>("auth_token");
    //     if (string.IsNullOrWhiteSpace(token))
    //     {
    //         NavigationManager.NavigateTo("/login", true);
    //     }
    // }
    //change
}
