@page "/pay-multi-bills"
@layout MainLayout
@inject NavigationManager NavigationManager

<div class="row">
    <SideNavSlider />

    <div class="col-lg-9">
        <div class="card">
            <div class="card-body">
                <div class="tab-content" id="profile-tabContent">
                    <div class="tab-pane fade show active" id="pay-bills-and-transfer-funds">
                        <h3 class="text-primary">Pay  Multiple Bills</h3>

                        <div class="row">
                            <div class="col-md-9">
                                <p>Paying several bills at once is easy. Just select a payee and enter an amount for each bill.</p>

                                <p>If you're paying someone new, don't forget to add new payees to your list first.</p>

                                <p>Remember that your bills will be paid in the order you enter them below. If your account runs out of funds to pay for a bill in your list, all items following it won't be processed either. So make sure to put the most important ones first.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <button type="button" class="btn btn-outline-primary waves-effect waves-light mb-2"><i class="mdi mdi-account-multiple-plus mr-2"></i>Add bill payee</button>
                            </div>

                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12 align-self-center">
                            <form class="mb-0">

                                <div class="row justify-content-center">
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">From:</span>
                                                        </div>
                                                        <select id="example-select-group" name="example-select-group" class="form-control">
                                                            <option selected disabled>Chequing 00022-5210315</option>
                                                            <option value="user1">Chequing 00022-5210315</option>
                                                            <option value="user2">Chequing 00022-5210315</option>
                                                            <option value="user3">Chequing 00022-5210315</option>
                                                            <option value="user4">Chequing 00022-5210315</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">To:</span>
                                                        </div>
                                                        <select id="example-select-group" name="example-select-group" class="form-control">
                                                            <option selected disabled>Select payee</option>
                                                            <option value="user1">User 1</option>
                                                            <option value="user2">User 2</option>
                                                            <option value="user3">User 3</option>
                                                            <option value="user4">User 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                                        </div>
                                                        <input type="text" id="example-input1-group1" name="example-input1-group1" class="form-control" placeholder="Enter Amount">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">To:</span>
                                                        </div>
                                                        <select id="example-select-group" name="example-select-group" class="form-control">
                                                            <option selected disabled>Select payee</option>
                                                            <option value="user1">User 1</option>
                                                            <option value="user2">User 2</option>
                                                            <option value="user3">User 3</option>
                                                            <option value="user4">User 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                                        </div>
                                                        <input type="text" id="example-input1-group1" name="example-input1-group1" class="form-control" placeholder="Enter Amount">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">To:</span>
                                                        </div>
                                                        <select id="example-select-group" name="example-select-group" class="form-control">
                                                            <option selected disabled>Select payee</option>
                                                            <option value="user1">User 1</option>
                                                            <option value="user2">User 2</option>
                                                            <option value="user3">User 3</option>
                                                            <option value="user4">User 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                                        </div>
                                                        <input type="text" id="example-input1-group1" name="example-input1-group1" class="form-control" placeholder="Enter Amount">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">To:</span>
                                                        </div>
                                                        <select id="example-select-group" name="example-select-group" class="form-control">
                                                            <option selected disabled>Select payee</option>
                                                            <option value="user1">User 1</option>
                                                            <option value="user2">User 2</option>
                                                            <option value="user3">User 3</option>
                                                            <option value="user4">User 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                                        </div>
                                                        <input type="text" id="example-input1-group1" name="example-input1-group1" class="form-control" placeholder="Enter Amount">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">To:</span>
                                                        </div>
                                                        <select id="example-select-group" name="example-select-group" class="form-control">
                                                            <option selected disabled>Select payee</option>
                                                            <option value="user1">User 1</option>
                                                            <option value="user2">User 2</option>
                                                            <option value="user3">User 3</option>
                                                            <option value="user4">User 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                                        </div>
                                                        <input type="text" id="example-input1-group1" name="example-input1-group1" class="form-control" placeholder="Enter Amount">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">To:</span>
                                                        </div>
                                                        <select id="example-select-group" name="example-select-group" class="form-control">
                                                            <option selected disabled>Select payee</option>
                                                            <option value="user1">User 1</option>
                                                            <option value="user2">User 2</option>
                                                            <option value="user3">User 3</option>
                                                            <option value="user4">User 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                                        </div>
                                                        <input type="text" id="example-input1-group1" name="example-input1-group1" class="form-control" placeholder="Enter Amount">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">To:</span>
                                                        </div>
                                                        <select id="example-select-group" name="example-select-group" class="form-control">
                                                            <option selected disabled>Select payee</option>
                                                            <option value="user1">User 1</option>
                                                            <option value="user2">User 2</option>
                                                            <option value="user3">User 3</option>
                                                            <option value="user4">User 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                                        </div>
                                                        <input type="text" id="example-input1-group1" name="example-input1-group1" class="form-control" placeholder="Enter Amount">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">To:</span>
                                                        </div>
                                                        <select id="example-select-group" name="example-select-group" class="form-control">
                                                            <option selected disabled>Select payee</option>
                                                            <option value="user1">User 1</option>
                                                            <option value="user2">User 2</option>
                                                            <option value="user3">User 3</option>
                                                            <option value="user4">User 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                                        </div>
                                                        <input type="text" id="example-input1-group1" name="example-input1-group1" class="form-control" placeholder="Enter Amount">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">To:</span>
                                                        </div>
                                                        <select id="example-select-group" name="example-select-group" class="form-control">
                                                            <option selected disabled>Select payee</option>
                                                            <option value="user1">User 1</option>
                                                            <option value="user2">User 2</option>
                                                            <option value="user3">User 3</option>
                                                            <option value="user4">User 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                                        </div>
                                                        <input type="text" id="example-input1-group1" name="example-input1-group1" class="form-control" placeholder="Enter Amount">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">To:</span>
                                                        </div>
                                                        <select id="example-select-group" name="example-select-group" class="form-control">
                                                            <option selected disabled>Select payee</option>
                                                            <option value="user1">User 1</option>
                                                            <option value="user2">User 2</option>
                                                            <option value="user3">User 3</option>
                                                            <option value="user4">User 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                                        </div>
                                                        <input type="text" id="example-input1-group1" name="example-input1-group1" class="form-control" placeholder="Enter Amount">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="btn-toolbar sw-toolbar sw-toolbar-bottom justify-content-end">
                                            <button type="button" class="btn btn-primary waves-effect waves-light btn-pd-left-right">Continue</button>
                                        </div>
                                    </div>
                                </div>

                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-outline-primary mb-0" role="alert">
                                            <h4 class="alert-heading font-18"><i class="fas fa-comments"></i> When are my transactions processed?</h4>
                                            <p>Transactions you make on business days before 6:00 pm will be processed by us the same day.</p>
                                            <p>Transactions made at all other times will be processed by us the next business day.</p>
                                            <p>Payments to third parties (such as utility bills and non-RBC credit cards) often need more processing time by the third party -- which generally takes up to 3 days.</p>
                                        </div>
                                    </div>

                                </div>
                            </form>

                        </div><!--end col-->
                    </div><!--end row-->

                </div><!--end tab-pane-->

                <div class="tab-pane fade" id="request-money">
                    <h4 class="mt-0 header-title mb-3">Request Money</h4>

                </div><!--end tab-pane-->

                <div class="tab-pane fade" id="cancel-bill-payment">
                    <h4 class="mt-0 header-title mb-3">Cancel Bill Payment</h4>

                </div><!--end tab-pen-->

                <div class="tab-pane fade" id="pay-multiple-bills">
                    <h4 class="mt-0 header-title mb-3">Pay Multiple Bills</h4>
                    <div class="row">
                        <div class="col-lg-12">
                        </div> <!--end col-->
                    </div><!--end row-->
                </div><!--end tab-pane-->
            </div>  <!--end tab-content-->
        </div><!--end card-body-->
    </div><!--end card-->
</div><!--end col-->
                    

@code {

}
