@inherits LayoutComponentBase
@inject NavigationManager Navigation


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
    private bool IsLoading = false;
    private Timer? loadingTimer;

    protected override void OnInitialized()
    {
        Navigation.LocationChanged += HandleLocationChanged;
    }

    private void HandleLocationChanged(object? sender, Microsoft.AspNetCore.Components.Routing.LocationChangedEventArgs e)
    {
        StartLoading();
    }

    private void StartLoading()
    {
        IsLoading = true;
        StateHasChanged(); // Refresh UI

        loadingTimer?.Dispose(); // Dispose previous timer if any

        loadingTimer = new Timer((_) =>
        {
            IsLoading = false;
            InvokeAsync(StateHasChanged);
        }, null, 10000, Timeout.Infinite); // 10 seconds
    }

    public void Dispose()
    {
        Navigation.LocationChanged -= HandleLocationChanged;
        loadingTimer?.Dispose();
    }
}