<footer class="footer text-center text-sm-left">
    <span class="text-muted d-none d-sm-inline-block float-right">
        <a style="color: #4082B3;" href="#">Acceinfo 2025 All rights reserved</a>
    </span>
</footer>